body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(30deg, #001f3f 0%, #2c003e 100%);
  background-size: cover;
}

/* ChromeTabs Css */

.chrome-picker {
  box-shadow: none !important;
}

/* FullCalendar Css */

/* Toolbar buttons */
.fc-toolbar .fc-button {
  background-color: #8390fa;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
}

.fc-toolbar .fc-button:hover {
  background-color: #6774c7;
}

/* Day headers */
.fc-col-header-cell {
  background-color: #343a40;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
}

/* Weekend day headers */
.fc-col-header-cell.fc-day-sat,
.fc-col-header-cell.fc-day-sun {
  background-color: #495057;
}

/* Today’s date */
.fc-day-today {
  background-color: #e9ecef;
  font-weight: bold;
}

/* Day numbers */
.fc-daygrid-day-top {
  font-size: 14px;
  color: #6c757d;
}

/* Weekend days */
.fc-day-sat,
.fc-day-sun {
  background-color: #f8f9fa;
}
