body {
  margin: 0;
  min-height: 100vh;
  background: #212227;
  background-size: cover;
}

.chrome-picker {
  box-shadow: none !important;
}

.fc-toolbar .fc-button {
  background-color: #B098A4; /* Primary main */
  border: none;
  height: 40px;
  padding: 5px 10px;
  border-radius: 25; /* Fixed syntax error, removed quotes */
  font-size: 14px;
  font-weight: bold;
}

.fc-toolbar .fc-button:hover {
  background-color: #7D4F77; /* Primary dark */
}

.fc-col-header-cell {
  background-color: #212227; /* Dark background */
  color: #ffffff;
  height: 40px;
  font-size: 16px;
}

.fc-col-header-cell.fc-day-sat,
.fc-col-header-cell.fc-day-sun {
  background-color: #495057; /* Slightly muted grey */
}

.fc-day-today {
  background-color: #D1B5C7; /* Primary light */
  font-weight: bold;
}

.fc-day-sat,
.fc-day-sun {
  background-color: #f8f9fa; /* Light background for weekends */
}

.fc-event-title {
  white-space: nowrap;
  text-overflow: ellipsis;
}
